<%= render 'storage/modal' %>

<div class="main-contents-name">Data</div>

<!-- Get -->
<div class="col-xs-12 get-column">
  <div class="sub-contents-name">Get</div>
  <div class="get-contents">
    <span class="get-input">
      <%= text_field_tag :key_name, nil, {
            :placeholder=>"Please input Key Name", 
            :class=>"getKeyName", 
            }
      %>
    </span>
    <%= submit_tag " Get Value ", { :class => "btn btn-info get-value-btn allow_submit", :type=>"button" } %>
    <div class="get-result"></div> 
  </div>
</div>

<!-- Set -->
<% if session[:user_type] == 'root' %>
  <div class="col-xs-12 set-column">
    <div class="sub-contents-name">Set</div>
    <div class="set-contents">
      <span class="set-input">
        <%= text_field_tag :key_name, nil, {:placeholder=>"Key Name", :class=>"setKeyName"} %>
        <%= text_field_tag :value_name, nil, {:placeholder=>"Value Name", :class=>"setValueName"} %>
        <%= text_field_tag :expt_time, nil, {:placeholder=>"Expired Time", :class=>"setExptName"} %>
      </span>
      <span class="send-button">
        <%= submit_tag " Set Value ", { :class => "btn btn-info set-value-btn allow_submit" }%>
        <input type="reset" value="reset " class="btn set-reset-btn allow_submit">
      </span>
      <div class="set-result"></div> 
    </div>
  </div>
<% end %>

<!-- Snapshot -->
<% if storage_type_is_tc?(@stats_hash) %>
  <div class="col-xs-12 snapshot-column">
    <% unless can_i_use_snapshot?(@stats_hash) %>
      <div class="restriction-panel">
        <div class="restriction-msg restriction-msg-snapshot">
          You can Not use this function<br>in this ROMA version.
        </div>
      </div>
    <% end %>

    <div class="sub-contents-name">Snapshot</div>
    <div class="snap-command-area">
      <div class="small-contents-name">Command Generater</div>
      <div class="port-input">
        <%= text_field_tag :port, nil, {:placeholder=>"Target Port No.", :class=>"snapPort"} %>
        <%= submit_tag " Generate ", { :class => "btn btn-info snapshot-btn allow_submit", :disabled=>(chk_roma_version(@stats_hash['others']['version']) < Constants::VERSION_0_8_14) }%>
        <div class="snap-explanation"></div>
        <div class="snap-command"></div>
        <div class="snap-command-error"></div>
      </div>
    </div>
  
    <div class="status-area">
      <% if chk_roma_version(@stats_hash['others']['version']) == Constants::VERSION_0_8_14 %>
        <div class="col-xs-12">
          <div class="restriction-panel">
            <div class="restriction-msg restriction-msg-snapshot-status">
              You can Not use this function in this ROMA version.
            </div>
          </div>
      <% end %>
 
      <div class="small-contents-name">Status</div>
      <% if flash[:snapshoting] %>
        <div class="snap-progress-area">
          <h5>Progress:</h5>
          <div id="snapshotStatus">
            <%= flash[:snapshoting] %> is executing snapshot
            <%= image_tag "ajax-loader.gif" %>
          </div>
          
          <div id="snapshotProgress">
            <table class="table table-bordered table-snapshot">
              <thead>
                <tr>
                  <td class="storage-name-column">storage name</td>
                  <td class="status-column">status</td>
                <tr>
              </thead>
              <tbody>
                <% 10.times{|i| %>
                  <tr>
                    <td><%= "#{i}.tc" %></td>
                    <td id="snapshotStatus<%=i%>"></td>
                  <tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
  
      <div class="snapshot-date-area">
        <h5>last snapshot date:</h5>
        <div id="lastSnapshotDate"><%= @last_snapshot_data %></div>
      </div>
    </div>
    <% if chk_roma_version(@stats_hash['others']['version']) == Constants::VERSION_0_8_14 %>
      </div>
    <% end %>

  </div>
<% end %>
