<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<%= render 'routing/modal' %>

<div class="main-contents-name">Routing</div>

<div class="col-xs-12 routing-information">
  <div class="sub-contents-name">Routing information</div>
  <div class="col-xs-6 routing-nodes">
    <div class="small-contents-name">Routing List</div>
    <ul class="routing-nodes-list">
      <%
      @color_type = "info"
      @active_routing_list.inject(""){|past_node, node|
        if node.split("_")[0] != past_node.split("_")[0]
          change_nodes_list_color(@color_type)
        end
      %>
        <h4><li class="label label-<%= @color_type %>"><%= node %></li></h4>
      <% node } %>
    </ul>
  </div>
  
  <div class="col-xs-6 routing-options">
    <div class="small-contents-name">Options</div>
    <ul class="routing-options-list list-group list-group-striped">
      <li class="list-group-item list-striped">lost_action: <%= @stats_hash["routing"]["lost_action"] %></li>
      <li class="list-group-item">digst_bits: <%= @stats_hash["routing"]["dgst_bits"] %></li>
      <li class="list-group-item list-striped">div_bits: <%= @stats_hash["routing"]["div_bits"] %></li>
      <li class="list-group-item">redundancy: <%= @stats_hash["routing"]["redundant"] %></li>
      <li class="list-group-item list-striped">enabled_repetition_host? (booting option): <%= @stats_hash["stats"]["enabled_repetition_host_in_routing"] %></li>
      <li class="list-group-item">
        <% if past_version?(@stats_hash) %>
          <div class="restriction-panel">
            <div class="restriction-msg restriction-msg-repetition">You can Not use this function</div>
          </div>
        <% end %>
        enabled_repetition_host? (routingdump): <%= @enabled_repetition_in_routingdump %>
      </li>
      <% unless past_version?(@stats_hash) %>
        <% if repugnant_repetition_option?(@enabled_repetition_in_routingdump, @stats_hash) %>
          <div class="repetition-error-message">
            <i class="icon-warning-sign"></i>
            repetition_host option is differ between routing and booting option.
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <div class="col-xs-offset-9 col-xs-2 download-button">
      <button class="btn btn-success download-dump" data-toggle="modal" data-target="#download-modal">
        Download routingdump
      </button>
    </div>
  </div>
</div>

<div class="col-xs-12 routing-history">
  <% if past_version?(@stats_hash) %>
    <div class="restriction-panel">
      <div class="restriction-msg">
        You can Not use this function<br>in this ROMA version.
      </div>
    </div>
  <% end %>

  <div class="sub-contents-name">Routing history</div>
  <div class="routing-history-table">
    <% if @routing_event.size == 0 %>
      <table class="table table-bordered table-condensed">
        <tr class="history-table-title">
          <th>date</th>
          <th>Event</th>
        </tr>
        <tr class="noevent"><td colspan="3">never happened leave or join yet</td></tr>
      </table>

    <% else %>
      <table class="table table-bordered table-condensed tablesorter routing-table ts-pager">
        <thead class="history-table-title">
          <tr>
            <th>date</th>
            <th>Event</th>
          </tr>
        </thead>
        <tbody>
          <%
          @routing_event.each{|event|
            event =~ /^([-\d]+)T([:\d]+)\.[\d]+\s([a-z]+)\s(.+)$/
          %>
            <tr class="<%= $3 %>-column">
              <td><%= "#{$1} #{$2}" %></td>
              <td><span class="label label-<%= column_color($3) %>"><%= $3 %></span> <%= $4 %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <div id="pager" class="pager">
        <form>
          <%= image_tag('arrow_back_end.png', :size => "17x17", :class => "first") %>
          <%= image_tag('arrow_back.png', :size => "17x17", :class => "prev") %>
          <input type="text" class="pagedisplay"/>
          <%= image_tag('arrow_next.png', :size => "17x17", :class => "next") %>
          <%= image_tag('arrow_next_end.png', :size => "17x17", :class => "last") %>
          <select class="pagesize">
            <option selected="selected"  value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option  value="40">40</option>
          </select>
        </form>
      </div>

    <% end %>
  </div>
</div>
